---
import Banner from "@components/Banner.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Delivery | Starbucks">
    <div slot="banner">
        <Banner bannerImg="images/agregadores/Starbucks_Delivers.png.webp" />

    </div>
    
	
</Layout>