---
import Banner from "@components/Banner.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Carta Responsabilidad | Starbucks">
    <div slot="banner"> 
        <Banner bannerImg="images/carta/carta.png.webp" />
    </div>
    
	
</Layout>