---
import Banner from "@components/Banner.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Cafés | Starbucks">
    <div slot="banner">
        <Banner bannerImg="images/nuestro-cafe/card06_0.png.webp" />
    </div>
    
	
</Layout>