---

const navItems = [
  { label: 'Carta', href: '/carta' },
  { label: 'Café', href: '/nuestro-cafe' },
  { label: 'Delivery', href: '/agregadores' },
  { label: 'Responsabilidad', href: '/nuestra-responsabilidad' },
  { label: 'Merchandising', href: '/merchandising' },
  { label: 'Rewards', href: '/rewards' },
]

---

<nav>
    <ul class="hidden xl:flex items-center gap-x-6">
        {navItems.map((item) => (
            <li>
                <a href={item.href} class="font-bold uppercase text-[13.5px] text-accent-2 tracking-wider transition-colors duration-300 hover:text-accent-1">{item.label}</a>
            </li>
        ))}
    </ul>
</nav>